In [1]:
import pandas as pd

df21 = pd.read_csv("/opt/conda/anaconda/lib/python3.6/site-packages/irsx/CSV/index_2021.csv",index_col=False)
object_ids = df21["OBJECT_ID"].to_numpy()

/opt/conda/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
object_ids_s = object_ids[:100]
object_ids_s

array([202010659349301301, 202010729349300041, 202010729349300021,
       202010729349300836, 202000669349300135, 202000669349301125,
       202000669349301320, 202000669349301850, 202000669349300905,
       202000669349300700, 202000669349300425, 202000679349300505,
       202000679349300405, 202000679349300210, 202020669349300127,
       202000729349300710, 202020689349300402, 202030699349301268,
       202000699349300330, 202000699349300740, 202010679349300301,
       202020699349301072, 202020699349300617, 202030709349300313,
       202000709349301455, 202000709349300200, 202000709349300520,
       202010699349301266, 202010699349300541, 202000719349301035,
       202010709349300601, 202010709349301231, 202010709349300931,
       202010709349301506, 202020719349300727, 202010719349300816,
       202010719349301566, 202010719349301446, 202040699349300954,
       202040669349300604, 202040709349301429, 202040719349301204,
       202020589349300437, 202020589349300007, 202020589349301312,
       202000529349300310, 202000529349301310, 202000529349301205,
       202000529349300925, 202000529349300815, 202000529349300710,
       202010529349300926, 202020529349300707, 202030529349301113,
       202030529349300723, 202020539349300517, 202000559349300130,
       202010559349300321, 202010559349301536, 202010559349301346,
       202020559349300107, 202020559349301602, 202030559349300003,
       202030559349301513, 202010569349301141, 202010569349300601,
       202020569349301492, 202020569349301857, 202030569349300118,
       202030569349301123, 202030569349300508, 202000579349301125,
       202000579349300630, 202000579349300605, 202000579349300100,
       202000579349300010, 202000579349301645, 202010579349301116,
       202010579349300611, 202020579349300812, 202030579349300943,
       202030579349301023, 202021369349201562, 202021369349201617,
       202021369349201687, 202021369349201742, 202021369349201777,
       202021369349201827, 202021369349201927, 202021369349201942,
       202021369349202007, 202021369349202057, 202021369349202162,
       202021369349202262, 202021379349100207, 202021379349100307,
       202021379349100602, 202021379349200022, 202021379349200512,
       202032549349200018])

In [3]:
from irsx.xmlrunner import XMLRunner
xml_runner = XMLRunner()
list_all = []
for e in object_ids_s:
    filing = xml_runner.run_filing(e)
    schedules = filing.list_schedules()
    
    ein = 0
    state = 0
    name = 0
    revenue = 0
    revenueEZ = 0
    
    if "ReturnHeader990x" in schedules:
        header = filing.get_parsed_sked("ReturnHeader990x")
        #print(len(header))
        header_part_i = header[0]["schedule_parts"]["returnheader990x_part_i"]
        #print(header_part_i)
        ein = header_part_i["ein"]
        try:
            state = header_part_i["USAddrss_SttAbbrvtnCd"]
        except KeyError:
            state = XX
        name = header_part_i["BsnssNm_BsnssNmLn1Txt"]
        #print(ein, state, name)
        
    if "IRS990EZ" in schedules:
        irs990ez = filing.get_parsed_sked("IRS990EZ")
        irs990ez_part_i = irs990ez[0]["schedule_parts"]["ez_part_i"]
        revenueEZ = irs990ez_part_i["TtlRvnAmt"]        
    
    if "IRS990" in schedules:
        irs990 = filing.get_parsed_sked("IRS990")
        #print(len(irs990))
        irs990_part_i = irs990[0]["schedule_parts"]["part_i"]
        revenue = irs990_part_i["CYTtlRvnAmt"]
        #print(revenue)
        
    list = [e, ein, state, name, revenue, revenueEZ]
    list_all.append(list)
    
df_result = pd.DataFrame(list_all, columns =['ObjectID', 'EIN', 'State', 'Name', 'Revenue', 'RevenueEZ'])
df_result.to_csv('revenue_2021_100.csv', index = False)
df_result
  

        
    #print(e, ein, state, name, revenue, revenueEZ)

,ObjectID,EIN,State,Name,Revenue,RevenueEZ
0,202010659349301301,452772761,NJ,CAMDEN'S CHARTER SCHOOL,5148336,0
1,202010729349300041,237061115,MS,JACKSON STATE UNIVERSITY,10386900,0
2,202010729349300021,344427516,OH,TIFFIN UNIVERSITY,64789812,0
3,202010729349300836,840865247,CO,NETWORK MINISTRIES INC,218029,0
4,202000669349300135,205647589,SC,FAMILY PROMISE OF BEAUFORT COUNTY,482668,0
...,...,...,...,...,...,...
95,202021379349100307,412209842,GA,LOVE PEACE AND PROSPERITY INTERNATIONAL INC,0,0
96,202021379349100602,136216916,FL,SIMON AND STELLA SHEIB FOUNDATION,0,0
97,202021379349200022,202272015,SC,ALPHA SIGMA PHI FRATERNITY INC,0,198372
98,202021379349200512,431336280,MO,MISSOURI DAIRY ASSOCIATIONINC,0,94662
99,202032549349200018,223697708,NJ,NUTLEY LINCOLN SCHOOL P T O,0,90267

In [4]:
from pyspark import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext(appName="BigDataIRS")
spark = SparkSession(sc)

In [5]:
#csv_path = "gs://sparkbucket02/revenue_2021_100.csv"
#gs://movie_files_101/u.item


# so wie ich das verstanden habe wird nun auf das lokale File zugegriffen ..
# sprich wenn wir mehrere Worker Nodes haben, mÃ¼ssen alle Worker auch dieses File haben => funktioniert wohl, aber HDFS benutzen wÃ¤re wohl cooler
# https://stackoverflow.com/questions/42091575/pyspark-load-file-path-does-not-exist
csv_path = "file:///spark_csv/revenue_2021_100.csv"
csv_df = spark.read.csv(csv_path, header=True)
csv_df.head(100)

[Row(ObjectID='202010659349301301', EIN='452772761', State='NJ', Name="CAMDEN'S CHARTER SCHOOL", Revenue='5148336', RevenueEZ='0'),
 Row(ObjectID='202010729349300041', EIN='237061115', State='MS', Name='JACKSON STATE UNIVERSITY', Revenue='10386900', RevenueEZ='0'),
 Row(ObjectID='202010729349300021', EIN='344427516', State='OH', Name='TIFFIN UNIVERSITY', Revenue='64789812', RevenueEZ='0'),
 Row(ObjectID='202010729349300836', EIN='840865247', State='CO', Name='NETWORK MINISTRIES INC', Revenue='218029', RevenueEZ='0'),
 Row(ObjectID='202000669349300135', EIN='205647589', State='SC', Name='FAMILY PROMISE OF BEAUFORT COUNTY', Revenue='482668', RevenueEZ='0'),
 Row(ObjectID='202000669349301125', EIN='311131742', State='CA', Name='Pacific Local Masters Swimming Committee', Revenue='143394', RevenueEZ='0'),
 Row(ObjectID='202000669349301320', EIN='271969337', State='OR', Name='ST MARYS OUTREACH INC', Revenue='105375', RevenueEZ='0'),
 Row(ObjectID='202000669349301850', EIN='474824100', State='TN', Name='PROJECT HEART', Revenue='155603', RevenueEZ='0'),
 Row(ObjectID='202000669349300905', EIN='930955648', State='WA', Name='COLUMBIA GORGE INTERPRETIVE CENTER', Revenue='377646', RevenueEZ='0'),
 Row(ObjectID='202000669349300700', EIN='270454243', State='CA', Name='CHILDREN OF CONSERVATION INC', Revenue='132109', RevenueEZ='0'),
 Row(ObjectID='202000669349300425', EIN='631260575', State='SC', Name='BOYKIN RESCUE INC', Revenue='309400', RevenueEZ='0'),
 Row(ObjectID='202000679349300505', EIN='208965928', State='MA', Name='SAINT ANTHONY SHRINE FOUNDATION', Revenue='18497', RevenueEZ='0'),
 Row(ObjectID='202000679349300405', EIN='830935537', State='WA', Name='EVERETT LAW ASSOCIATION', Revenue='1120793', RevenueEZ='0'),
 Row(ObjectID='202000679349300210', EIN='010890508', State='NY', Name='Recycle for Education Inc', Revenue='618434', RevenueEZ='0'),
 Row(ObjectID='202020669349300127', EIN='205091342', State='IA', Name='ASSOCIATES SUPPORTED HOUSING', Revenue='88462', RevenueEZ='0'),
 Row(ObjectID='202000729349300710', EIN='593833885', State='OK', Name='Pushmataha Counseling Services Inc', Revenue='322235', RevenueEZ='0'),
 Row(ObjectID='202020689349300402', EIN='320041992', State='NJ', Name='NORTH BAPTIST CHURCH A NJ NONPROFIT CORPORATION', Revenue='74999', RevenueEZ='0'),
 Row(ObjectID='202030699349301268', EIN='030349894', State='VT', Name='EKWANOK SCHOLARSHIP TRUST INC', Revenue='172737', RevenueEZ='0'),
 Row(ObjectID='202000699349300330', EIN='832407599', State='NY', Name='A Better Life Foundation USA Inc', Revenue='209545', RevenueEZ='0'),
 Row(ObjectID='202000699349300740', EIN='832667234', State='AL', Name='NEW BEGINNINGS RECOVERY INC', Revenue='483318', RevenueEZ='0'),
 Row(ObjectID='202010679349300301', EIN='453759477', State='NY', Name='UNITED MILITARY VETERANS OF KINGS', Revenue='84963', RevenueEZ='0'),
 Row(ObjectID='202020699349301072', EIN='825024802', State='CA', Name='Zaytoons', Revenue='83364', RevenueEZ='0'),
 Row(ObjectID='202020699349300617', EIN='900983595', State='TN', Name='Feed The Needy', Revenue='0', RevenueEZ='0'),
 Row(ObjectID='202030709349300313', EIN='474323905', State='NY', Name='LOVE LIVING AT HOME INC', Revenue='134540', RevenueEZ='0'),
 Row(ObjectID='202000709349301455', EIN='541211812', State='VA', Name='MOUNT HERMON VOLUNTEER', Revenue='256644', RevenueEZ='0'),
 Row(ObjectID='202000709349300200', EIN='260610335', State='TX', Name='HOUSTON HISPANIC SCHOLARSHIP FUND', Revenue='144', RevenueEZ='0'),
 Row(ObjectID='202000709349300520', EIN='454508561', State='NE', Name='KIMMEL ORCHARD AND VINEYARD', Revenue='1304951', RevenueEZ='0'),
 Row(ObjectID='202010699349301266', EIN='471057408', State='TX', Name='GOSWAMI EDUCATION', Revenue='316215', RevenueEZ='0'),
 Row(ObjectID='202010699349300541', EIN='582190407', State='MS', Name='TIMOTHY WILKES EVANGELISTIC SERVICE', Revenue='103243', RevenueEZ='0'),
 Row(ObjectID='202000719349301035', EIN='900528474', State='NJ', Name="CAPE MAY VOLUNTEER FIRE DEP'T", Revenue='115611', RevenueEZ='0'),
 Row(ObjectID='202010709349300601', EIN='522362291', State='MD', Name='NEWARK VOLUNTEER FIRE COMPANY', Revenue='648602', RevenueEZ='0'),
 Row(ObjectID='202010709349301231', EIN='830611711', State='GA', Name='ALL IN FOR MILLER INC', Revenue='47408', RevenueEZ='0'),
 Row(ObjectID='202010709349300931', EIN='620876593', State='TN', Name='FAMILY RESOURCE AGENCY INC', Revenue='7975397', RevenueEZ='0'),
 Row(ObjectID='202010709349301506', EIN='351985042', State='IN', Name='CARE FOR KIDS FOUNDATION INC', Revenue='16021', RevenueEZ='0'),
 Row(ObjectID='202020719349300727', EIN='042695655', State='MA', Name='COMPREHENSIVE MENTAL HEALTH SYSTEMS INC', Revenue='10600911', RevenueEZ='0'),
 Row(ObjectID='202010719349300816', EIN='820918164', State='UT', Name='Center for Genomic Interpretation', Revenue='273713', RevenueEZ='0'),
 Row(ObjectID='202010719349301566', EIN='231352674', State='PA', Name="Saint Joseph's University", Revenue='321332282', RevenueEZ='0'),
 Row(ObjectID='202010719349301446', EIN='832382398', State='CA', Name='FRANK FERNICOLA CHARITABLE FOUNDATION', Revenue='1148', RevenueEZ='0'),
 Row(ObjectID='202040699349300954', EIN='330683684', State='CA', Name='California International Business University', Revenue='575128', RevenueEZ='0'),
 Row(ObjectID='202040669349300604', EIN='237070410', State='MI', Name='WEST INDIES SELF HELP INC', Revenue='277525', RevenueEZ='0'),
 Row(ObjectID='202040709349301429', EIN='474703819', State='CA', Name='HOI BAO TRO DONG NU TY CHUA GIESU TINH THUONG', Revenue='153331', RevenueEZ='0'),
 Row(ObjectID='202040719349301204', EIN='600001960', State='OH', Name='MARYSVILLE HOUSING III INC', Revenue='122212', RevenueEZ='0'),
 Row(ObjectID='202020589349300437', EIN='465664405', State='CA', Name='Home Base Ranch Inc', Revenue='281222', RevenueEZ='0'),
 Row(ObjectID='202020589349300007', EIN='341955032', State='OH', Name='Camp Patmos Inc', Revenue='625104', RevenueEZ='0'),
 Row(ObjectID='202020589349301312', EIN='581966791', State='MS', Name='QUALITY MENTAL HEALTH INC', Revenue='659094', RevenueEZ='0'),
 Row(ObjectID='202000529349300310', EIN='742673397', State='TX', Name="BELL COUNTY FIRE CHIEF'S ASSOCIATION", Revenue='347650', RevenueEZ='0'),
 Row(ObjectID='202000529349301310', EIN='813970919', State='NJ', Name='NEW JERSEY KOREAN AMERICAN MUTUAL', Revenue='486142', RevenueEZ='0'),
 Row(ObjectID='202000529349301205', EIN='204419159', State='NY', Name='CHENANGO RIVER THEATRE INC', Revenue='243720', RevenueEZ='0'),
 Row(ObjectID='202000529349300925', EIN='463206226', State='TN', Name='Camp Conquest', Revenue='263292', RevenueEZ='0'),
 Row(ObjectID='202000529349300815', EIN='471468519', State='IL', Name='ILLINOIS STATE ALLIANCE OF YMCAS', Revenue='536840', RevenueEZ='0'),
 Row(ObjectID='202000529349300710', EIN='465126166', State='TX', Name='CANCER CURES 4 KIDS', Revenue='324777', RevenueEZ='0'),
 Row(ObjectID='202010529349300926', EIN='651049354', State='FL', Name='FRANK CIARAMELLA INC', Revenue='904705', RevenueEZ='0'),
 Row(ObjectID='202020529349300707', EIN='630585997', State='AL', Name='SOUTH CHOCTAW ACADEMY INC', Revenue='916429', RevenueEZ='0'),
 Row(ObjectID='202030529349301113', EIN='232748101', State='PA', Name='BIBLICAL FAMILY MINISTRIES INC', Revenue='75726', RevenueEZ='0'),
 Row(ObjectID='202030529349300723', EIN='382613035', State='MI', Name='FATHER CLEMENT H KERN FOUNDATION', Revenue='56768', RevenueEZ='0'),
 Row(ObjectID='202020539349300517', EIN='751971885', State='TX', Name='LAMAR COUNTY JUNIOR LIVESTOCK SHOW', Revenue='329578', RevenueEZ='0'),
 Row(ObjectID='202000559349300130', EIN='251128765', State='PA', Name='Mars Area Public Library Association', Revenue='262736', RevenueEZ='0'),
 Row(ObjectID='202010559349300321', EIN='061214651', State='CT', Name='Yale Law School Learning Center Inc', Revenue='376019', RevenueEZ='0'),
 Row(ObjectID='202010559349301536', EIN='824376559', State='CO', Name='Bright Future for Children', Revenue='75052', RevenueEZ='0'),
 Row(ObjectID='202010559349301346', EIN='753140593', State='MA', Name='NETWORK TECHNOLOGY ACADEMY', Revenue='497132', RevenueEZ='0'),
 Row(ObjectID='202020559349300107', EIN='811447115', State='NY', Name='MENDED SWORDS LTD', Revenue='31912', RevenueEZ='0'),
 Row(ObjectID='202020559349301602', EIN='721318799', State='LA', Name='CENTENNIAL CULTURAL CENTER INC', Revenue='31847', RevenueEZ='0'),
 Row(ObjectID='202030559349300003', EIN='208586911', State='MI', Name='TEL-A-VILLAGE INTERNATIONAL INC', Revenue='87572', RevenueEZ='0'),
 Row(ObjectID='202030559349301513', EIN='833596260', State='FL', Name='BOYS AND GIRLS CLUBS OF PALM BEACH', Revenue='5719080', RevenueEZ='0'),
 Row(ObjectID='202010569349301141', EIN='561152417', State='NC', Name='MEALS ON WHEELS OF ROWAN INC', Revenue='711990', RevenueEZ='0'),
 Row(ObjectID='202010569349300601', EIN='471206556', State='AK', Name='Buddha Catu Parisa Foundation', Revenue='41841', RevenueEZ='0'),
 Row(ObjectID='202020569349301492', EIN='010742567', State='NY', Name='COMMUNITY HEALTH AND EDUCATION FOR RURAL', Revenue='131032', RevenueEZ='0'),
 Row(ObjectID='202020569349301857', EIN='823490802', State='CA', Name='CUSCATLECOS EN EL EXTERIOR TKD INC', Revenue='11040', RevenueEZ='0'),
 Row(ObjectID='202030569349300118', EIN='474470326', State='FL', Name="CHRISTY'S CAUSE INC", Revenue='91980', RevenueEZ='0'),
 Row(ObjectID='202030569349301123', EIN='271709541', State='NC', Name='Yadkin Valley Museum Inc', Revenue='4878', RevenueEZ='0'),
 Row(ObjectID='202030569349300508', EIN='161760220', State='CA', Name='Fund for Sustainable Tomorrows', Revenue='277595', RevenueEZ='0'),
 Row(ObjectID='202000579349301125', EIN='570725526', State='SC', Name='RUTH WINN WICKWARE FOUNDATION', Revenue='7181', RevenueEZ='0'),
 Row(ObjectID='202000579349300630', EIN='611216109', State='KY', Name='Grow and Learn Cdc Incorporated', Revenue='862110', RevenueEZ='0'),
 Row(ObjectID='202000579349300605', EIN='550756137', State='WV', Name='SOUTH CENTRAL EDUCATION DEVELOPMENT INC', Revenue='61224', RevenueEZ='0'),
 Row(ObjectID='202000579349300100', EIN='824993198', State='NJ', Name='OM FOUNDATION INC', Revenue='100701', RevenueEZ='0'),
 Row(ObjectID='202000579349300010', EIN='016024421', State='ME', Name='TOWN OF MOUNT DESERT MEDICAL CENTER', Revenue='111116', RevenueEZ='0'),
 Row(ObjectID='202000579349301645', EIN='640855422', State='MS', Name="MISSISSIPPI CATTLEMEN'S FOUNDATION", Revenue='77392', RevenueEZ='0'),
 Row(ObjectID='202010579349301116', EIN='824892350', State='KS', Name='SENT INC', Revenue='292627', RevenueEZ='0'),
 Row(ObjectID='202010579349300611', EIN='752156819', State='TX', Name='MINEOLA KINDNESS KOTTAGE INC', Revenue='340609', RevenueEZ='0'),
 Row(ObjectID='202020579349300812', EIN='731632750', State='AL', Name='ALABAMA SCOTTISH RITE FOUNDATION', Revenue='193246', RevenueEZ='0'),
 Row(ObjectID='202030579349300943', EIN='464408086', State='CA', Name='SAN DIEGO EXPLORATORY FOUNDATION', Revenue='2851', RevenueEZ='0'),
 Row(ObjectID='202030579349301023', EIN='460343414', State='SD', Name='BASEBALL PARENTS INC', Revenue='517835', RevenueEZ='0'),
 Row(ObjectID='202021369349201562', EIN='382105768', State='MI', Name='THE LUDINGTON OUTBOARD BOAT CLUB', Revenue='0', RevenueEZ='126411'),
 Row(ObjectID='202021369349201617', EIN='222463124', State='NJ', Name='SCOTCH PLAINS PBA LOCAL #87 INC', Revenue='0', RevenueEZ='82935'),
 Row(ObjectID='202021369349201687', EIN='205325886', State='GA', Name='JOHNS CREEK HEALTHCARE ASSOC INC', Revenue='0', RevenueEZ='15697'),
 Row(ObjectID='202021369349201742', EIN='510166455', State='VA', Name='FLEET RESERVE ASSOCATION PENINSULA #172', Revenue='0', RevenueEZ='108698'),
 Row(ObjectID='202021369349201777', EIN='420396635', State='IA', Name='MARSHAL F FOCH POST 1655 VFW', Revenue='0', RevenueEZ='62180'),
 Row(ObjectID='202021369349201827', EIN='812882346', State='MD', Name='Annapolis Pickleball Club', Revenue='0', RevenueEZ='19100'),
 Row(ObjectID='202021369349201927', EIN='262912082', State='NY', Name='HUDSON TEACHERS ASSO BENEFIT TRUST', Revenue='0', RevenueEZ='173751'),
 Row(ObjectID='202021369349201942', EIN='391271640', State='WI', Name='HARTLAND ATHLETIC ADVANCEMENT', Revenue='0', RevenueEZ='23116'),
 Row(ObjectID='202021369349202007', EIN='526055460', State='VA', Name='Propeller Club of the United States', Revenue='0', RevenueEZ='9916'),
 Row(ObjectID='202021369349202057', EIN='850432014', State='NM', Name='Eagle Nest Chamber of Commerce', Revenue='0', RevenueEZ='43370'),
 Row(ObjectID='202021369349202162', EIN='822981110', State='OR', Name='Eagle Crest Pickleball Club', Revenue='0', RevenueEZ='8113'),
 Row(ObjectID='202021369349202262', EIN='061615967', State='CT', Name='MANCHESTER MEMORIAL SERVICE & SKILLED', Revenue='0', RevenueEZ='125795'),
 Row(ObjectID='202021379349100207', EIN='912091447', State='AK', Name='DENALI FOUNDATION', Revenue='0', RevenueEZ='0'),
 Row(ObjectID='202021379349100307', EIN='412209842', State='GA', Name='LOVE PEACE AND PROSPERITY INTERNATIONAL INC', Revenue='0', RevenueEZ='0'),
 Row(ObjectID='202021379349100602', EIN='136216916', State='FL', Name='SIMON AND STELLA SHEIB FOUNDATION', Revenue='0', RevenueEZ='0'),
 Row(ObjectID='202021379349200022', EIN='202272015', State='SC', Name='ALPHA SIGMA PHI FRATERNITY INC', Revenue='0', RevenueEZ='198372'),
 Row(ObjectID='202021379349200512', EIN='431336280', State='MO', Name='MISSOURI DAIRY ASSOCIATIONINC', Revenue='0', RevenueEZ='94662'),
 Row(ObjectID='202032549349200018', EIN='223697708', State='NJ', Name='NUTLEY LINCOLN SCHOOL P T O', Revenue='0', RevenueEZ='90267')]

In [33]:
#hdfs_csv_path = "hdfs://spark-jupyter-m/spark_csv/revenue_2021_100.csv"
#hdfs_csv_path = "hdfs:///spark_csv/revenue_2021_100.csv"
#hdfs_csv_path = "spark_csv/revenue_2021_100.csv"
hdfs_csv_path = "hdfs://spark-jupyter-m/user/hdfs/spark_csv/revenue_2021_100.csv"
hdfs_df = spark.read.csv(hdfs_csv_path, header = True, inferSchema = True)
#hdfs_df.parallelize()
#hdfs_df.head(100)
#hdfs_df.collect()
hdfs_df.printSchema()

hdfs_drop = hdfs_df.drop('ObjectID','EIN','Name','RevenueEZ')
#hdfs_drop.printSchema()

hdfs_rdd = hdfs_drop.rdd
#hdfs_rdd.collect()

from operator import add
reduced_rdd = hdfs_rdd.reduceByKey(add).sortBy(lambda x: x[1], ascending = False)
reduced_rdd.collect()


#sparkTuple = hdfs_rdd.map(lambda letter: (RA(letter), letter))

#rdd.flatMap(lambda x: [(x, x), (x, x)]).collect())

root
 |-- ObjectID: long (nullable = true)
 |-- EIN: integer (nullable = true)
 |-- State: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Revenue: integer (nullable = true)
 |-- RevenueEZ: integer (nullable = true)

[('PA', 321670744),
 ('OH', 65537128),
 ('MS', 11226629),
 ('MA', 11116540),
 ('TN', 8394292),
 ('FL', 6715765),
 ('NJ', 5925789),
 ('CA', 1661182),
 ('TX', 1658973),
 ('AL', 1592993),
 ('WA', 1498439),
 ('NY', 1454146),
 ('NE', 1304951),
 ('KY', 862110),
 ('SC', 799249),
 ('NC', 716868),
 ('MD', 648602),
 ('IL', 536840),
 ('SD', 517835),
 ('MI', 421865),
 ('CT', 376019),
 ('OK', 322235),
 ('CO', 293081),
 ('KS', 292627),
 ('UT', 273713),
 ('VA', 256644),
 ('VT', 172737),
 ('ME', 111116),
 ('OR', 105375),
 ('IA', 88462),
 ('WV', 61224),
 ('GA', 47408),
 ('AK', 41841),
 ('LA', 31847),
 ('IN', 16021),
 ('WI', 0),
 ('NM', 0),
 ('MO', 0)]

In [7]:
#from pyspark import SparkContext
#from pyspark.sql import SQLContext
#from pyspark import SparkFiles
#sc = SparkContext(appName="BigDataIRS")
#sc.setLogLevel("ERROR")
#sqlContext = SQLContext(sc)
#df = sqlContext.read.csv("hdfs:///spark_csv/revenue_2021_100.csv", header=True, inferSchema= True)
#df = sqlContext.read.csv("hdfs:///spark_csv/revenue_2021_100.csv", header=True, inferSchema= True)
#df.head()

In [1]:
#from google.cloud import storage
#client = storage.Client()
# https://console.cloud.google.com/storage/browser/[bucket-id]/
#bucket = client.get_bucket('sparkbucket02')
# Then do other things...
#blob = bucket.get_blob("revenue_2021_100.csv") #('remote/path/to/file.txt')

#df = pd.read_csv(blob.download_as_string())
#df

In [2]:
#spark = SparkSession \
#    .builder \
#    .appName("Protob Conversion to Parquet") \
#    .config("spark.some.config.option", "some-value") \
#    .getOrCreate()\

#df = spark.read.csv('/home/hadoop/observations_temp.csv, header=True)

sudo su - hdfs
hdfs dfsadmin -safemode leave

hdfs dfs -mkdir spark_csv
hdfs dfs -put /spark_csv/revenue_2021_100.csv spark_csv/revenue_2021_100.csv
hdfs dfs -ls spark_csv

https://stackoverflow.com/questions/42091575/pyspark-load-file-path-does-not-exist
https://stackoverflow.com/questions/33055403/how-to-navigate-directories-in-hadoop-hdfs
https://stackoverflow.com/questions/28213116/hadoop-copy-a-local-file-system-folder-to-hdfs
https://stackoverflow.com/questions/61197811/can-i-read-csv-files-from-google-storage-using-spark-in-more-than-one-executor
https://groups.google.com/g/cloud-dataproc-discuss/c/cubkWrjkk2g?pli=1
https://stackoverflow.com/questions/56448009/storing-source-file-in-google-dataproc-hdfs-vs-google-cloud-storagegoogle-bucke

hdfs dfs -put /spark_csv/revenue_2021_100.csv /user/root/spark_csv/revenue_2021_100.csv